<!-- FILEPATH: /d:/Projects/project-management-platform/meu_clube_de_tenis/membros/syntax_study/include.html -->
<h2>Include</h2>
<p>The include tag allows you to include a template inside the current template.</p>
<p>This is useful when you have a block of content that is the same for many pages.</p>

<h3>Example</h3>
<p>Get your own Django Server</p>

<p><strong>templates/footer.html:</strong></p>
<code>
<p>You have reached the bottom of this page, thank you for your time.</p>
</code>

<p><strong>templates/template.html:</strong></p>
<code>
<h1>Hello</h1>

<p>This page contains a footer in a template.</p>

{% include 'footer.html' %} 
</code>

<h3>Variables in Include</h3>
<p>You can send variables into the template by using the <code>with</code> keyword.</p>
<p>In the include file, you refer to the variables by using the <code>{{ variablename }}</code> syntax:</p>

<h3>Example</h3>
<p><strong>templates/mymenu.html:</strong></p>
<code>
<div>HOME | {{ me }} | ABOUT | FORUM | {{ sponsor }}</div>
</code>

<p><strong>templates/template.html:</strong></p>
<code>
<!DOCTYPE html>
<html>
<body>

{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

<h1>Welcome</h1>

<p>This is my webpage</p>

</body>
</html> 
</code>