{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'meu_primeiro.css' %}">
<body>

{% with primeiro_nome="Tobias" %}
<h1>Ola {{ primeiro_nome }}</h1>
{% endwith %}

<ul>
  {% for x in meus_membros %}
    <li>{{ x.primeiro_nome }}</li>
  {% endfor %}
</ul>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in meus_membros %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.primeiro_nome }}</td>
      <td>{{ x.ultimo_nome }}</td>
    </tr>
  {% endfor %}
</table>

<p>In views.py you can see what the fruits variable looks like.</p>

</body>
</html>